html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: url('../images/tetris-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 500px;
  width: 500px;
}

.gameboard {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(10, 10, 10);
}

.gameboard div {
  height: 20px;
  width: 20px;
}

.preview-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  background-color: rgb(10, 10, 10);
}

.preview-grid div {
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
}

.tetromino {
  background-image: url('../images/blue-tetromino.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tetromino1 {
  background-image: url('../images/grey-tetromino.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tetromino3 {
  background-image: url('../images/purple-tetromino.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tetromino4 {
  background-image: url('../images/green-tetromino.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tetromino5 {
  background-image: url('../images/pink-tetromino.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tetromino6 {
  background-image: url('../images/yellow-tetromino');
  background-repeat: no-repeat;
  background-size: cover;
}

.tetromino7 {
  background-image: url('../images/red-tetromino.png');
  background-repeat: no-repeat;
  background-size: cover;
}
